<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        {% include('common/css.deps.html') %}
        {% block stylesheets %}{% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="row">
            <div class="col s10 offset-s1">
                {% include('common/header.html') %}
                    {% block body %}{% endblock %}
                {% include('common/footer.html') %}
            </div>
        </div>

        {% include('common/js.deps.html') %}
        <script>{% include 'common/global.js' %}</script>
        <script src="{{ asset_url }}/js/common/api.js"></script>
        {% block javascript %}{% endblock %}
        
        <script src="{{ asset_url }}/js/common/analytics.js"></script>
    </body>
</html>
