<div class="container center-align" id="footer">
	<span style="font-size: 12px;">
		Copyright 2013-2016 &copy; Matt Cavanagh (<a href="http://twitter.com/Maelstrome26"	target="_blank"	class="ga-event" ga-campaign="External Links" ga-action="Personal Twitter">@Maelstrome26</a>)
		<br />
		<a
			href="http://www.planetside2.com"
			target="_blank"
			class="ga-event"
			ga-campaign="External Links"
			ga-action="Planetside 2 Website">
			Planetside 2&reg;
		</a>
		is the property of
		<a
			href="http://daybreakgames.com"
			target="_blank"
			class="ga-event"
			ga-campaign="External Links"
			ga-action="Daybreak Games">
			Daybreak Games&trade;
		</a>
	</span>
</div>
