<div
	id="site-search"
	class="row row-no-margin grey darken-2"
	ng-controller="SearchController">
	<div class="row row-no-margin">
		<div class="col s12 m8 offset-m2">
			<form ng-submit="fireSearch()">
				<div class="col s4 m2">
					<select class="browser-default" ng-model="type">
						<option value="player">Players</option>
						<option value="outfit">Outfits</option>
						<option value="weapon">Weapons</option>
					</select>
				</div>
				<div class="col s8 m10">
					<div class="input-field col s10">
						<input
							placeholder="{{placeholder}}"
							id="term"
							type="text"
							ng-model="term">
					</div>
					<div class="col s2" id="search-button">
						<button type="submit" class="btn waves-effect waves-light">
							<i class="fa fa-search" ng-hide="service.searching"></i>
							<i class="fa fa-refresh fa-spin" ng-show="service.searching"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="search-results" ng-show="service.show">
		<div class="col s12 m8 offset-m2">
			<div class="sk-three-bounce" ng-show="service.searching">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
                <p class="caption center-align">
                    Searching
                </p>
            </div>
			<div
				class="search-result col s12 m6"
				ng-repeat="result in service.results"
				ng-show="service.results.length > 0">
				<a href="profiles/{{::type}}/{{result.id}}">
					<div class="result {{result.factionAbv}}-segment">
						<b><span ng-show="result.tag">{{result.tag}}</span>
							{{result.name}}</b> - {{result.server}}
							{{result}}
					</div>
				</a>
			</div>
			<div class="center-align row">
				<div class="col s12">
					<button class="btn waves-effect waves-light" ng-click="hide()">Hide</button>
				</div>
			</div>
		</div>
		<div class="center-align" ng-show="service.noresults">
			<h4>No results</h4>
		</div>
	</div>
</div>
