<div
    class="territory-bar z-depth-1 grey darken-3">
    <div class="loading" ng-hide="total > 0">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="segment vs-segment" style="width:{{vs / total * 100 | number: 2}}%" ng-show="vs > 0">
        <span class="segment-metric" ng-show="(vs / total * 100) > 5" numerical="{{vs}}">
            {{vs / total * 100 | number:decimal}}%
        </span>
    </div>
    <div class="segment nc-segment" style="width:{{nc / total * 100 | number: 2}}%" ng-show="nc > 0">
        <span class="segment-metric" ng-show="(nc / total * 100) > 5" numerical="{{nc}}">
            {{nc / total * 100 | number:decimal}}%
        </span>
    </div>
    <div class="segment tr-segment" style="width:{{tr / total * 100 | number: 2}}%" ng-show="tr > 0">
        <span class="segment-metric" ng-show="(tr / total * 100) > 5" numerical="{{tr}}">
            {{tr / total * 100 | number:decimal}}%
        </span>
    </div>
    <div class="segment draw-segment" style="width:{{draw / total * 100 | number: 2}}%" ng-show="draw > 0">
        <span class="segment-metric" ng-show="(draw / total * 100) > 5" numerical="{{draw}}">
            {{draw / total * 100 | number:decimal}}%
        </span>
    </div>
</div>
