<div class="territory-bar z-depth-1 grey darken-3" id="{{ elemid }}">
    <div class="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="segment vs-segment">
        <span class="segment-metric"></span>
    </div>
    <div class="segment nc-segment">
        <span class="segment-metric"></span>
    </div>
    <div class="segment tr-segment">
        <span class="segment-metric"></span>
    </div>
    <div class="segment draw-segment">
        <span class="segment-metric"></span>
    </div>
</div>
