<div class="col m6 s12">
    <div class="card blue-grey darken-3">
        <div class="card-content">
            <div class="row">
                <h1 class="center-align">
                    Welcome to PS2Alerts!
                </h1>
            </div>

            <div class="row-seperator"></div>
            <div class="row row-no-margin" id="announcement-last">
                <h3 class="center-align">
                    Updated: 29th April 2016
                </h3>
                <p>
                    <b>Outfit Profiles</b> - Outfit profiles are now live! Wonder how you compare to the rest of your outfit mates? Now you can find out!
                </p>
                <p>
                    The outfit profiles show stats such as:
                </p>
                <ul class="enable-bullets">
                    <li>
                        Kills, Deaths, Teamkills, Suicides and headshots across all alerts recorded
                    </li>
                    <li>
                        Averages, such as K/D, Kills &amp; Deaths per alert etc
                    </li>
                    <li>
                        Facility Statistics, along with all counts of captures and defences for every facility for that outfit
                    </li>
                    <li>
                        A list of all alerts that the outfit has participated in
                    </li>
                </ul>
                <p class="center-align">
                    <a
                        href="profiles/outfit/37509488620604883"
                        class="ga-event btn waves-effect waves-light"
                        ga-campaign="Homepage Announcement"
                        ga-action="Example Outfit Profile">
                        Example Outfit Profile
                    </a>
                </p>
            </div>
        </div>
        <div class="card-action">
            <a
                href="change-log"
                id="announcement-view-more"
                expanded="0"
                class="ga-event"
                ga-campaign="Homepage Announcement"
                ga-action="Change Log">
                <i class="fa fa-clock-o"></i> Change Log
            </a>
            <a
                href="https://github.com/Maelstrome26/PS2Alerts"
                target="_blank"
                class="ga-event"
                ga-campaign="Homepage Announcement"
                ga-action="Github link">
                <i class="fa fa-github"></i> PS2Alerts on Github
            </a>
        </div>
    </div>
</div>
