<div class="col m6 s12">
    <div class="card blue-grey darken-3">
        <div class="card-content">
            <div class="row">
                <h1 class="center-align">
                    PS2Alerts is being rewritten!
                </h1>
                <h4 class="center-align">
                    <a href="https://www.reddit.com/r/Planetside/comments/3vxnfn/psa_planetsidebattles_ps2alerts_and_nanite/" target="_blank">PS2Alerts' webserver got hacked in December</a>, which unfortunately meant that the website had to be taken down. It is currently under reconstruction and redesign.
                </h4>
            </div>

            <div class="row-seperator"></div>
            <div class="row row-no-margin" id="announcement-last">
                <h4 class="center-align">
                    Update: 3rd March 2016
                </h4>
                <p>
                    Leaderboards have been implemented on alert pages! You're now able to see what you ranked in each and every alert! There are currently 4 leaderboards: Players, Outfits, Weapons and Vehicles.
                </p>
                <br />
                <p>
                    Project status widgets have been added to the site, detailing the status of the current page you're looking on, keeping you up to date with the progress of the project as well as letting you know where to post suggestions.
                </p>
            </div>

            <div class="row row-no-margin" id="announcement-more">
                <div class="row-seperator"></div>
                <h4 class="center-align">
                    Update: 27th February 2016
                </h4>
                <p>
                    The initial implementations of the <a href="alert-history">Alert History</a> and <a href="alert/19999">Alert Detail</a> pages have been launched! The Alert History page allows you to see all alerts in the past 48 hours (a temperary measure until a better date selection system can be made) and you're also able to see basic information and leaderboards on a per-alert basis.
                </p>
                <p>
                    The new version of the website will also feature a complete redesign, as you can see by the very simple example that's shown below. I've learnt a lot about coding since I did PS2Alerts v4.0 back in October last year, so I think it's time to apply said knowledge.
                </p>
            </div>
        </div>
        <div class="card-action">
            <a href="#" id="announcement-view-more" expanded="0">
                Read More...
            </a>
            <a href="https://github.com/Maelstrome26/PS2Alerts" target="_blank">
                <i class="fa fa-github"></i> PS2Alerts on Github
            </a>
        </div>
    </div>
</div>
