<div class="col m6 s12">
    <div class="card blue-grey darken-3">
        <div class="card-content">
            <div class="row">
                <h1 class="center-align">
                    Welcome to PS2Alerts!
                </h1>
                <p class="center-align">
                    <a
                        href="https://www.reddit.com/r/Planetside/comments/3vxnfn/psa_planetsidebattles_ps2alerts_and_nanite/"
                        target="_blank"
                        class="ga-event"
                        ga-campaign="External Links"
                        ga-action="Announcement Reddit Link">
                        Latest Announcement Details
                    </a>
                </p>
            </div>

            <div class="row-seperator"></div>
            <div class="row row-no-margin" id="announcement-last">
                <h3 class="center-align">
                    Update: 24th April 2016
                </h3>
                <p>
                    <b>Player Profiles</b> - I'm happy to present the first iteration of Player Profiles! With player profiles, you'll be able to see the statistics for any particular player we have on record, including stats such as:
                </p>
                <ul class="enable-bullets">
                    <li>
                        Kills, Deaths, Teamkills, Suicides and headshots across all alerts recorded
                    </li>
                    <li>
                        Averages, such as K/D, Kills &amp; Deaths per alert etc
                    </li>
                    <li>
                        A list of all alerts that a player has participated in
                    </li>
                    <li>
                        All weapon kills, headshots and teamkills a player has accumulated
                    </li>
                    <li>
                        All vehicle metrics - note, that this metric is a bit dodgy and may be removed
                    </li>
                </ul>
                <p>
                    <b>Change Log</b> - As part of this update, a <a
                        href="change-log"
                        class="ga-event"
                        ga-campaign="Homepage Announcement"
                        ga-action="Example Profile">
                        Change Log page
                    </a> has also been added, allowing you to see a record of what's changed over time, rather than camming everything into this small announcement box!
                </p>
                <br />
                <p class="center-align">
                    <a
                        href="profiles/player/5428010618035323201"
                        class="ga-event btn waves-effect waves-light"
                        ga-campaign="Homepage Announcement"
                        ga-action="Example Profile">
                        Example Profile
                    </a>
                </p>
            </div>

            <div class="row row-no-margin" id="announcement-more">
                <div class="row-seperator"></div>

            </div>
        </div>
        <div class="card-action">
            <a
                href="change-log"
                id="announcement-view-more"
                expanded="0"
                class="ga-event"
                ga-campaign="Homepage Announcement"
                ga-action="Change Log">
                <i class="fa fa-clock-o"></i> Change Log
            </a>
            <a
                href="https://github.com/Maelstrome26/PS2Alerts"
                target="_blank"
                class="ga-event"
                ga-campaign="Homepage Announcement"
                ga-action="Github link">
                <i class="fa fa-github"></i> PS2Alerts on Github
            </a>
        </div>
    </div>
</div>
