@import 'variables';

@card-tint: 0%;
@card-trans: 75%;

@background-vs-dark: darken(@background-vs, @card-tint);
@background-nc-dark: darken(@background-nc, @card-tint);
@background-tr-dark: darken(@background-tr, @card-tint);

.card-vs {
    background-color: fadeout(@background-vs-dark, @card-trans) !important;
}

.card-nc {
    background-color: fadeout(@background-nc-dark, @card-trans) !important;
}

.card-tr {
    background-color: fadeout(@background-tr-dark, @card-trans) !important;
}

#history-list .card {
    margin-bottom: 0.3rem;
    border: 1px solid darken(@border-color, 55%);
    border-radius: 0;
}

#history-list .card-content .row {
    margin-bottom: 15px;
}

.alert-row-seperator {
    border-top: 1px dashed @border-color;
}

@line-height: 36px;

#history-list .card-content .row .btn {
    line-height: @line-height;
    margin-top: 10px;
}

.alert-history-label {
    text-align: center;
    font-size: 1.5rem;
}

.btn-inactive {
    background-color: #626D6C !important;
}

.filters {
    .btn {
        margin: 2px;
        padding: 0 15px;
    }

    .vs-back {
        background-color: @background-vs !important;
    }

    .nc-back {
        background-color: @background-nc !important;
    }

    .tr-back {
        background-color: @background-tr !important;
    }

    .draw-back {
        background-color: lighten(@background-draw, 15%) !important;
    }

    .col {
        margin-bottom: 10px;
    }
}
