#alert-details #alert-info {
    margin-bottom: 0.5rem;
}

#alert-details .divider {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

#alert-details .card-no-bottom {
    .card {
        margin-bottom: 0;
    }
}

#combat-leaderboards {
    .indicator {
        display: none;
    }

    .leaderboards {
        margin-top: 0;
        .card {
            margin-top: 0;
        }
    }

    table.dataTable .metric {
        text-align: center;
    }

    table.dataTable tbody tr.even {
        background-color: @table-striped;
    }

    table.dataTable tbody .sorting_1 {
        background-color: lighten(@table-striped, 2%);
    }

    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: left;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0;
        margin-right: 0.5em;
    }
}
