#alert-details {
    .divider {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    #winner {
        margin: 0;
        margin-bottom: @margin-base / 2;
    }

    .general-metric {
        margin-bottom: @margin-base / 2;
    }

    #alert-info {
        background-color: @card-blue-grey;
    }

    .tab-container {
        .leaderboards .card {
            margin-top: 0;
            padding-top: @padding-base;
        }

        .times {
            width: 75px;
        }

        .territory-bars {
            width: 50%;
        }
    }

    .leaderboard-notes {
        ul > li {
            list-style-type: disc;
            margin-left: @margin-base;
        }
    }
}
