@import 'variables';

.btn-alert-history {
    width: 100%;
}

.alert-row-top {
    margin-bottom: 15px;
    overflow: hidden;
}

@line-height: 28px;

.alert-row-top .btn {
    height: @line-height;
    line-height: @line-height;
    padding: 0 5px;
}

.alert-history-label {
    line-height: @line-height;
    text-align: center;
}
