#alert-details .divider {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

#alert-info {
    background-color: @card-blue-grey;
}

.tab-container {
    .indicator {
        display: none;
    }

    .leaderboards {
        margin-top: 0;
    }

    .leaderboards .card {
        margin-top: 0;
    }

    .times {
        width: 75px;
    }

    .territory-bars {
        width: 50%;
    }
}

.leaderboard-notes {
    ul > li {
        list-style-type: disc;
        margin-left: @margin-base;
    }
}
