@import 'variables';

.vs-back {
    background-color: @background-vs;
}

.nc-back {
    background-color: @background-nc;
}

.tr-back {
    background-color: @background-tr;
}

.draw-back {
    background-color: @background-draw;
}

.vs-table-text {
    color: #9A6FFF;
}

.nc-table-text {
    color: #4FA7F7;
}

.tr-table-text {
    color: #E01818;
}

.draw-table-text {
    color: #D6D6D6;
}

.indar-back {
    background-color: rgba(138, 115, 49, 0.5);
}

.hossin-back {
    background-color: rgba(49, 90, 50, 0.5);
}

.amerish-back {
    background-color: rgba(97, 142, 62, 0.5);
}

.esamir-back {
    background-color: rgba(67, 119, 150, 0.5);
}
