@import 'variables';

.vs-back {
    background-color: @background-vs;
}

.nc-back {
    background-color: @background-nc;
}

.tr-back {
    background-color: @background-tr;
}

.draw-back {
    background-color: @background-draw;
}

.vs-table-text {
    color: #AA8CF1;
}

.nc-table-text {
    color: #4FA7F7;
}

.tr-table-text {
    color: #E01818;
}

.draw-table-text {
    color: #D6D6D6;
}

.indar-back {
    background-color: #8A7331;
}

.hossin-back {
    background-color: #315A32;
}

.amerish-back {
    background-color: #618E3E;
}

.esamir-back {
    background-color: #437796;
}
