@import 'variables';

header {
    margin-bottom: @margin-base * 1.5;
    position: relative;

    img {
        display: block;
    }

    .nav-wrapper {
        @media screen and (max-width: 992px) {
            margin-left: @margin-base;
        }
    }

    .progress {
        margin: 0;
        background-color: #32363A;
    }

    .progress .determinate,
    .progress .indeterminate {
        background-color: @background-tr;
    }

    .nav-main {
        font-size: 2.0rem;
    }

    .nav-seperator {
        border-left: 1px solid @border-color;
    }

    nav ul li:hover {
        background-color: rgba(210, 0, 0, 0.3);
    }

    nav ul li a:hover {
        color: #fff;
    }

    nav ul li .fa {
        font-size: 1.2em;
    }

    nav .button-collapse i {
        font-size: 1.7rem;
    }

    #under-dev {
        color: #D22E2E;
    }

    .side-nav li:hover,
    .side-nav li.active {
        background-color: initial;
    }
}
