@import 'variables';

header img {
    display: block;
}

.nav-wrapper {
    margin-left: @margin-base;
}

.progress {
    margin: 0;
    background-color: #32363A;
}

.progress .determinate,
.progress .indeterminate {
    background-color: #A62626;
}

.nav-seperator {
    border-left: 1px solid @border-color;
}

nav ul li:hover {
    background-color: rgba(210, 0, 0, 0.3);
}

nav .button-collapse i {
    font-size: 1.7rem;
}

.side-nav li:hover,
.side-nav li.active {
    background-color: initial;
}
