@import 'variables';

#announcement p {
    margin-bottom: @margin-base;
}

#announcement h4 {
    margin-bottom: 0;
}

#victory-card-container {
    padding: 0;
}

.metric .fa-spin {
    display: inline-block !important;
    margin-left: 5px;
}

.victory-card .card-title {
    font-size: 22px;
}

.victory-counts {
    font-size: 1.5em;
}

#server-victories-table .material-badge {
    width: 60px;
    display: inline-block
}

#serverzone-victories-table {
    margin-top: @margin-base;
}

#serverzone-victories-body td,
#serverzone-victories-body th,
#serverzone-victories-body thead, {
    border-radius: 0;
}

#serverzone-victories-body td {
    width: 65px;
}

#serverzone-victories-body .left-align {
    width: 90px;
}

#serverzone-victories-body .center-align {
    text-shadow: 0 0 10px black;
}

#serverzone-victories-body tr[data-server="totals"] {
    border-top: 2px solid #FFF;
}
