@import 'variables';

.victory-card .card .collection {
    display: none;
}

.victory-card .card .fa-spin {
    color: white;
    text-align: center;
    display: block;
}

.victory-counts {
    font-size: 1.5em;
}
