@import 'variables';

.victory-card .card .collection {
    display: none;
}

.victory-card .card .fa-spin {
    color: white;
    text-align: center;
    display: block;
}

.victory-counts {
    font-size: 1.5em;
}

#server-victories-table .material-badge {
    width: 60px;
    display: inline-block
}

#serverzone-victories-table {
    margin-top: @margin-base;
}

#serverzone-victories-body td,
#serverzone-victories-body th,
#serverzone-victories-body thead, {
    border-radius: 0;
}

#serverzone-victories-body td {
    width: 65px;
}

#serverzone-victories-body .left-align {
    width: 90px;
}
