#site-search {
    background-color: #565555;
    padding-top: 0;
    padding-bottom: @padding-base / 2;

    .input-field {
        margin-top: 0;
    }

    input {
        margin-bottom: 0;
    }

    #search-button {
        margin-top: 9px;
        padding-right: 0;
        button {
            width: 100%;
        }
    }

    #search-results {
        margin-top: @margin-base;
        margin-bottom: 0;

        a {
            color: #fff;
        }

        .result {
            margin-bottom: 2px;
            border: 1px solid #272727;
            padding: 4px;
        }
    }
}
