#site-search {
    padding-top: 0;
    padding-bottom: @padding-base / 2;
    position: relative;

    .row {
        div {
            padding-left: @padding-base / 4;
            padding-right: @padding-base / 4;
        }
    }

    .input-field {
        margin-top: 0;
    }

    .search-icons {
        text-align: right;
        font-size: 1.75em;
        padding-top: 5px;
    }

    input {
        margin-bottom: 0;
    }

    #search-input {
        padding: 0;
    }

    #term:focus {
        box-shadow: none !important;
    }

    #search-type {
        margin-top: 1px;
        padding: 0;
        select {
            border-bottom-width: 0;
            box-shadow: 0 1px 0 0 #26a69a; // This doesn't seem to be working in chrome??
        }
    }

    #search-results {
        display: none;
        padding: 0;
        z-index: 2;
        position: absolute;
        top: 60px;
        padding: @padding-base;
        background: #595A5A;
        border: 1px solid darken(@border-color, 50%);
        box-shadow: 0px 0px 20px black;

        div {
            padding: 0;
        }

        a {
            color: #fff;
        }

        :first-child .result {
            margin-top: 0;
        }

        .search-result {
            clear: both;
            margin-top: 5px;
            border-radius: 3px;
            border: 1px solid #272727;

            a {
                padding: 5px;
                display: block;
            }
        }

        .caption {
            margin-bottom: 0;
        }
    }
}
