@import 'variables.less';

body {
    background-image: url('../../img/background.jpg');
    font-family: 'Noto Sans',Helvetica,Arial,sans-serif;
    background-color: #15171E;
    color: #FFF;
}

// Global class to generally apply to Rows to apply uniform padding
.padding {
    padding: @padding-base;
}

.container, #footer {
    color: #DDD;
}

#footer {
    margin-top: 20px;
    min-height: inherit;
    padding: 10px;
    text-align: center;
}

/* Default background for assigned DIVs */
.background {
    background-color: rgba(50, 50, 50, 0.6);
    min-height: 50px;
}

a {
    color: @brand-psbOrange;
}

.a-back {
    background-color: @brand-psbOrange;
}

.a-back:hover {
    background-color: #F44336;
}

.collection {
    border: 0;
}

.fa-refresh.fa-spin {
    transform-origin: 49% 48.5%;
}

table tr:last-child {
    border-bottom: 0 !important;
}

.card-subtitle {
    font-size: 18px;
}

.material-badge {
    min-width: 3rem;
    padding: 1px 12px;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: grey;
    border-radius: 2px;
}

.material-badge.vs {
    background-color: @background-vs;
}

.material-badge.nc {
    background-color: @background-nc;
}

.material-badge.tr {
    background-color: @background-tr;
}

.material-badge.draw {
    background-color: @background-draw;
}

.chart-container {
    position: relative;
}

.chart {
    opacity: 0;
}

.chart-container .fa-spin {
    color: #FFF;
    position: absolute;
    left: 47.5%;
    top: 43.5%;
    transform: translateY(-47.5%);
    transform: translateX(-43.5%);
}

.simulated-table-row {
    border-bottom: 1px solid @border-color;
    padding-top: @padding-base;
    padding-bottom: @padding-base;
    overflow: hidden;
}

.simulated-table-row:last-child {
    border-bottom: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.no-padding {
    padding: 0;
}
