@import 'variables.less';

body {
    height: auto;
    font-family: 'Noto Sans',Helvetica,Arial,sans-serif;
    background-color: #000;
    color: #FFF;
}

main {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

// Global class to generally apply to Rows to apply uniform padding
.padding {
    padding: @padding-base;
}

a {
    color: @brand-psbOrange;
    transition: color 0.5s
}

a:hover {
    color: lighten(@brand-psbOrange, 20%);
}

.a-back {
    background-color: @brand-psbOrange;
}

.a-back:hover {
    background-color: #F44336;
}

.collection {
    border: 0;
}

.fa-refresh.fa-spin {
    transform-origin: 49% 48.5%;
}

table tr:last-child {
    border-bottom: 0 !important;
}

.material-badge {
    min-width: 3rem;
    padding: 1px 12px;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: grey;
    border-radius: 2px;
}

.chart-container {
    position: relative;
}

.chart {
    opacity: 0;
}

.chart-container .fa-spin {
    color: #FFF;
    position: absolute;
    left: 47.5%;
    top: 43.5%;
    transform: translateY(-47.5%);
    transform: translateX(-43.5%);
}

.simulated-table-row, .simulated-table-header {
    border-bottom: 1px solid @border-color;
    padding-top: @padding-base;
    padding-bottom: @padding-base;
    overflow: hidden;
}

.simulated-table-header {
    border-bottom-width: 2px;
    font-weight: bold;
}

.simulated-table-header div {
    border-right: 1px solid @border-color;
}

.simulated-table-header div:last-child {
    border-right: 0;
}

.simulated-table-row:last-child {
    border-bottom: 0;
}

.metric i {
    display: inline-block !important;
}

.overflow-hidden {
    overflow: hidden;
}

.no-padding {
    padding: 0;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}

.header-no-margin {
    margin: 0;
}

.row-no-margin {
    margin: 0;
}

.sk-three-bounce {
    width: 100%;
    margin: 0;
}

.sk-three-bounce .sk-child {
    background-color: #fff;
}

.caption {
    font-size: 0.9em;
    color: #ccc !important;
}

.row-seperator {
    border-top: 1px dashed @border-color;
}

p.flow-text, .flow-text p {
    font-size: 0.7em;
}

h1.flow-text, .flow-text h1 {
    font-size: 3.0em;
}

h2.flow-text, .flow-text h2 {
    font-size: 2.5em;
}

h3.flow-text, .flow-text h3 {
    font-size: 2.0em;
}

h4.flow-text, .flow-text h4 {
    font-size: 1.5em;
}

h5.flow-text, .flow-text h5 {
    font-size: 1.0em;
}

h6.flow-text, .flow-text h6 {
    font-size: 0.8em;
}

.tabs {
    background-color: @tab-background;

    .tab {
        border-right: 1px solid @border-color;
    }

    .tab a {
        color: #fff;
        transition: all .3s ease-out
    }

    .tab a:hover {
        color: #fff;
    }

    .tab a:not(.active):hover {
        background-color: darken(@tab-background, 5%);
    }

    .tab a.active {
        background-color: darken(@tab-background, 15%);
    }
}

.tabs:last-child {
    .tab {
        border-right: 0;
    }
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: @table-striped;
}

table.highlight > tbody > tr:hover {
    background-color: lighten(@table-striped, 15%);
}
