// Globally affecting
@padding-base: 20px;
@margin-base: 20px;

// Empire Stuff
@background-vs: #7a37d4;
@background-nc: #0081f1;
@background-tr: #a90000;
@background-draw: #757575;

@brand-psbOrange: #f78944;

@border-color: #fff;

@territory-bar-height: 22px;

@table-striped: #465156;

@tab-background: #249e92;

@card-blue-grey: #37474f;

// Faction cards
@card-tint: 0%;
@card-trans: 75%;

@background-vs-dark: darken(@background-vs, @card-tint);
@background-nc-dark: darken(@background-nc, @card-tint);
@background-tr-dark: darken(@background-tr, @card-tint);
@background-draw-dark: darken(@background-draw, @card-tint);
