// Globally affecting
@padding-base: 20px;
@margin-base: 20px;

// Empire Stuff
@background-vs: #7A37D4;
@background-nc: #0081F1;
@background-tr: #A90000;
@background-draw: #757575;

@brand-psbOrange: #F78944;

@border-color: #FFF;

@territory-bar-height: 22px;

@table-striped: #465156;

@tab-background: #26a69a;
