<h5 class="center-align">Combat Leaderboards</h5>
<div class="row row-no-margin" id="combat-leaderboards">
    <div class="col s12 m8">
        <div class="card blue-grey darken-3">
            <div class="card-content" ng-include="'views/alert/leaderboard.players.html'"></div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey darken-3">
            <div class="card-content">
                <p class="caption center-align">
                    Outfits
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey darken-3">
            <div class="card-content">
                <p class="caption center-align">
                    Weapons
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey darken-3">
            <div class="card-content">
                <p class="caption center-align">
                    Vehicles
                </p>
            </div>
        </div>
    </div>
</div>
