<div class="col s12">
    <div class="card card-{{alert.metrics.winner | lowercase }}" id="alert-info">
        <div class="card-content center-align">
            <div class="row center-align" ng-show="alert.metrics.winner">
                <div class="col s12">
                    <h1 class="header-no-margin">{{::alert.details.winnerText}}</h1>
                    <p class="caption">
                        Winner
                    </p>
                </div>
            </div>
            <div class="row" ng-show="alert.metrics.winner">
                <div class="row-seperator"></div>
            </div>
            <div class="row row-no-margin">
                <div class="col no-padding s12 m3">
                    <h3>{{::alert.details.endedDate}}</h3>
                    <p class="caption">
                        Ended
                    </p>
                </div>
                <div class="col no-padding s4 m2">
                    <h3>{{::alert.details.duration}}</h3>
                    <p class="caption">
                        Duration
                    </p>
                </div>
                <div class="col no-padding s4 m2">
                    <h3>{{::alert.details.server}}</h3>
                    <p class="caption">
                        Server
                    </p>
                </div>
                <div class="col no-padding s4 m2">
                    <h3>{{::alert.details.zone}}</h3>
                    <p class="caption">
                        Continent
                    </p>
                </div>
                <div class="col no-padding s4 m3">
                    <h3>{{::alert.details.timeBracket}}</h3>
                    <p class="caption">
                        Time Bracket
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
