<div class="col s12 m6 push-m3">
    <div class="card blue-grey darken-3" id="notice">
        <div class="card-content center-align">
            <h3>Note: Alert Statistics are in pre-alpha and are <u>NOT</u> finished!</h3>
            <p>
                The Alert Statistics pages are currently being re-written. Check out the status of the <a href="https://github.com/Maelstrome26/PS2Alerts/issues">PS2Alerts project <i class="fa fa-github"></i></a> and <a href="https://github.com/Maelstrome26/PS2Alerts/issues/3">Alert Details Page <i class="fa fa-github"></i></a>.
            </p>
            <p>
                Please report any bugs you find or feature suggestions at the links above.
            </p>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card card-{{alert.metrics.winner | lowercase }}" id="alert-info">
        <div class="card-content center-align">
            <div class="row center-align" ng-show="alert.metrics.winner">
                <div class="col s12">
                    <h1 class="header-no-margin">{{::alert.details.winnerText}}</h1>
                    <p class="caption">
                        Winner
                    </p>
                </div>
            </div>
            <div class="row" ng-show="alert.metrics.winner">
                <div class="row-seperator"></div>
            </div>
            <div class="row row-no-margin">
                <div class="col no-padding m3">
                    <h3>{{::alert.details.endedDate}}</h3>
                    <p class="caption">
                        Ended
                    </p>
                </div>
                <div class="col no-padding m3">
                    <h3>{{::alert.details.server}}</h3>
                    <p class="caption">
                        Server
                    </p>
                </div>
                <div class="col no-padding m3">
                    <h3>{{::alert.details.zone}}</h3>
                    <p class="caption">
                        Continent
                    </p>
                </div>
                <div class="col no-padding m3">
                    <h3>{{::alert.details.timeBracket}}</h3>
                    <p class="caption">
                        Time Bracket
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
