<div class="sk-three-bounce" ng-show="!alert.loaded.players">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
    <p class="caption center-align">
        Loading
    </p>
</div>
<table
    class="striped hover"
    st-table="alert.metrics.players.data"
    ng-if="alert.loaded.players">
    <thead>
        <tr>
            <th colspan="8" class="leaderboard-search">
                <input
                    st-search=""
                    class="form-control"
                    placeholder="Search Players"
                    type="text"/>
            </th>
        </tr>
        <tr>
            <th
                st-sort="player.player.name"
                class="long">
                Player Name
            </th>
            <th
                st-sort="alert.references.outfits[player.player.outfitID].outfit.name"
                class="long">
                Outfit
            </th>
            <th st-sort="player.metrics.kills" st-sort-default="true" class="center-align metric">
                Kills
            </th>
            <th st-sort="player.metrics.deaths" class="center-align metric">
                Deaths
            </th>
            <th st-sort="player.metrics.kd" class="center-align metric">
                KD
            </th>
            <th st-sort="player.metrics.teamkills" class="center-align metric">
                TKs
            </th>
            <th st-sort="player.metrics.suicides" class="center-align metric">
                Suicides
            </th>
            <th st-sort="player.metrics.headshots" class="center-align metric">
                Headshots
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in alert.metrics.players.data">
            <td class="{{::player.player.factionAbv}}-table-text long">
                {{::player.player.name}}
            </td>
            <td class="{{::player.player.factionAbv}}-table-text long">
                <span ng-if="::alert.references.outfits[player.player.outfitID].outfit.tag">
                    [{{::alert.references.outfits[player.player.outfitID].outfit.tag}}]
                </span>
                {{::alert.references.outfits[player.player.outfitID].outfit.name}}
            </td>
            <td class="center-align metric">
                {{player.metrics.kills}}
            </td>
            <td class="center-align metric">
                {{player.metrics.deaths}}
            </td>
            <td class="center-align metric">
                {{player.metrics.kd}}
            </td>
            <td class="center-align metric">
                {{player.metrics.teamkills}}
            </td>
            <td class="center-align metric">
                {{player.metrics.suicides}}
            </td>
            <td class="center-align metric">
                {{player.metrics.headshots}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" class="text-center leaderboard-pagination">
                <div
                    st-pagination=""
                    st-items-by-page="25"
                    st-displayed-pages="12">
                </div>
            </td>
        </tr>
    </tfoot>
</table>
