<div class="row row-no-margin" id="map-statistics">
    <div class="col s12 m6">
        <div class="card blue-grey darken-3">
            <div class="card-content">
                <h3 class="center-align">Capture Log</h3>
                <div ng-repeat="(key, capture) in alert.parsed.map.captures"
                    alert-map-capture-row
                    capture="capture"
                    config="config">
                </div>
            </div>
        </div>

    </div>
    <div class="col s12 m6">
        <div
            metric-card
            class="col s12 m6"
            card-title="Captures"
            metric="{{alert.parsed.map.captures.length}}">
        </div>
        <div
            metric-card
            class="col s12 m6"
            card-title="Defences"
            metric="{{alert.parsed.map.defences.length}}">
        </div>
    </div>
</div>
