{% extends 'index.html' %}

{% block title %}PS2Alerts - Planetside 2 Alert Statistics{% endblock %}

{% block stylesheets %}
<link href="{{ asset_url }}/css/compiled/homepage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{% include 'home/announcement.html' %}
<div class="row background padding">
    {% include('home/victories.html') %}
    <div class="col s12">
        {% include 'home/charts/serverzone.victories.html' %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset_url }}/js/homepage/victories.js"></script>
<script src="{{ asset_url }}/js/homepage/announcement.js"></script>
{% endblock %}
