{% extends 'index.html' %}

{% block stylesheets %}
<link href="{{ asset_url }}/css/compiled/homepage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{% include('home/victories.html') %}
<div class="row background padding">
    <div class="col s12 m6">
        <div class="card grey darken-2 white-text">
            <div class="card-content">
                <div class="card-title center-align">
                    Server Victories
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card grey darken-2 white-text">
            <div class="card-content">
                <div class="card-title center-align">
                    Continent Victories
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset_url }}/js/homepage/victories.js"></script>
{% endblock %}
