{% extends 'index.html' %}

{% block title %}PS2Alerts - Planetside 2 Alert Statistics{% endblock %}

{% block stylesheets %}
<link href="{{ asset_url }}/css/compiled/homepage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{% include 'home/announcement.html' %}
<div class="row background padding">
    <div class="row center-align">
        <h3>Alert Victories</h3>
        <h6>Victories from 29-Oct-2014 to {{ 'now'|date('d-M-Y') }}</h6>
    </div>
    <div class="row">
        <div id="victory-bar" class="col s12" data-placeholder="territory-bar"></div>
    </div>
    <div class="col s12 m6" id="victory-card-container">
        {% include 'home/victory.cards.html' %}
    </div>
    <div class="col s12 m6">
        {% include 'home/charts/server.victories.html' %}
    </div>
</div>
<div class="row background padding">
    <h3 class="center-align">Victory Timeline</h3>
    <div class="chart-container" id="victories-timeline-container">
        <div id="victories-timeline" class="chart"></div>
        <i class="fa fa-4x fa-refresh fa-spin"></i>
    </div>
</div>
<div class="row background padding" id="serverzone-victories-container">
    {% include 'home/charts/serverzone.victories.html' %}
</div>
{% endblock %}

{% block javascript %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="{{ asset_url }}/js/homepage/victories.js"></script>
<script src="{{ asset_url }}/js/homepage/charts/victory.timeline.events.js"></script>
<script src="{{ asset_url }}/js/homepage/charts/victory.timeline.js"></script>
<script src="{{ asset_url }}/js/homepage/announcement.js"></script>
{% endblock %}
