<div class="col s12 m5">
    <div class="card grey darken-3 white-text">
        <div class="card-content">
            <div class="card-title center-align">
                Server Victories
            </div>
            <table class="responsive-table bordered" id="server-victories-table">
                <thead>
                    <tr>
                        <td class="left-align">
                            Server
                        </td>
                        <td class="center-align">
                            VS
                        </td>
                        <td class="center-align">
                            NC
                        </td>
                        <td class="center-align">
                            TR
                        </td>
                        <td class="center-align">
                            Draws
                        </td>
                    </tr>
                </thead>
                <tbody id="server-victories-body">
                    {% for server in servers %}
                    <tr data-server="{{ server }}">
                        <td class="left-align">
                            {{ attribute(serverNames, server) }}
                        </td>
                        <td class="center-align" data-faction="vs">
                            <span class="material-badge vs z-depth-1">0</span>
                        </td>
                        <td class="center-align" data-faction="nc">
                            <span class="material-badge nc z-depth-1">0</span>
                        </td>
                        <td class="center-align" data-faction="tr">
                            <span class="material-badge tr z-depth-1">0</span>
                        </td>
                        <td class="center-align" data-faction="draw">
                            <span class="material-badge draw z-depth-1">0</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card grey darken-3 white-text">
        <div class="card-content">
            <div class="card-title center-align">
                Continent Victories
            </div>
            <table class="responsive-table bordered" id="serverzone-victories-table">
                <thead>
                    <tr>
                        <td colspan="1" class="left-align">
                            Server
                        </td>
                        <td colspan="4" class="center-align indar-back">
                            Indar
                        </td>
                        <td colspan="4" class="center-align hossin-back">
                            Hossin
                        </td>
                        <td colspan="4" class="center-align amerish-back">
                            Amerish
                        </td>
                        <td colspan="4" class="center-align esamir-back">
                            Esamir
                        </td>
                    </tr>
                </thead>
                <tbody id="serverzone-victories-body">
                    {% for server in servers %}
                    <tr data-server="{{ server }}">
                        <td class="left-align">
                            {{ attribute(serverNames, server) }}
                        </td>
                        {% for zone in zones %}
                            {% for faction in factions %}
                        <td
                            class="{{ faction }}-table-text {{ attribute(zoneNames, zone) }}-back center-align"
                            data-zone="{{ zone }}"
                            data-faction="{{ faction }}">
                            2500
                        </td>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
