<div class="row center-align">
    <h3 class="white-text">Alert Victories</h3>
    <h6 class="white-text">Victories from 29-Oct-2014 to {{ 'now'|date('d-M-Y') }}</h6>
</div>
<div class="row">
    <div class="col s12">
        {% include 'common/charts/territory.bar.html' with {elemid: 'victory-territory-bar'} %}
    </div>
</div>
<div class="col s12 m6" id="victory-card-container">
    {% include 'home/victory.cards.html' %}
</div>
<div class="col s12 m6">
    {% include 'home/charts/server.victories.html' %}
</div>
