<div class="row background padding">
    <div class="row center-align">
        <h3 class="white-text">Alert Victories</h3>
        <h6 class="white-text">Victories from 29-Oct-2014 to {{ 'now'|date('D-M-Y') }}</h6>
    </div>
    <div class="col s6 m3 victory-card" id="vs-victory-card">
        <div class="card deep-purple darken-2">
            <div class="card-content white-text">
                <p class="card-title center-align">Vanu Soverignity</p>
                <i class="fa fa-refresh fa-spin fa-3x"></i>
            </div>
            <div class="collection">
                <div class="collection-item">
                    Victories<span id="vs-victories" class="badge">12335 (35%)</span>
                </div>
                <div class="collection-item">
                    Dominations<span id="vs-dominations" class="badge">1</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6 m3 victory-card">
        <div class="card blue darken-4">
            <div class="card-content white-text">
                <p class="card-title center-align">New Conglomerate</p>
                <i class="fa fa-refresh fa-spin fa-3x"></i>
            </div>
            <div class="collection">
                <div class="collection-item">
                    Victories<span id="nc-victories" class="badge">12335 (35%)</span>
                </div>
                <div class="collection-item">
                    Dominations<span id="nc-dominations" class="badge">1</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6 m3 victory-card">
        <div class="card red darken-4">
            <div class="card-content white-text">
                <p class="card-title center-align">Terran Republic</p>
                <i class="fa fa-refresh fa-spin fa-3x"></i>
            </div>
            <div class="collection">
                <div class="collection-item">
                    Victories<span id="tr-victories" class="badge">12335 (35%)</span>
                </div>
                <div class="collection-item">
                    Dominations<span id="tr-dominations" class="badge">1</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6 m3 victory-card">
        <div class="card grey darken-1">
            <div class="card-content white-text">
                <p class="card-title center-align">Draws</p>
                <i class="fa fa-refresh fa-spin fa-3x"></i>
            </div>
            <div class="collection">
                <div class="collection-item">
                    Victories<span id="draw-victories" class="badge">12335 (35%)</span>
                </div>
                <div class="collection-item">
                    Dominations<span id="draw-dominations" class="badge">N/A</span>
                </div>
            </div>
        </div>
    </div>
</div>
