<div class="col s12 m6 victory-total-card" id="total-victory-card">
    <div class="card blue-grey darken-2">
        <div class="card-content white-text">
            <p class="card-title center-align">
                Total Alerts:
                <span class="metric"><i class="fa fa-refresh fa-spin"></i></span>
            </p>
        </div>
    </div>
</div>

<div class="col s12 m6 victory-total-card" id="total-dominations-card">
    <div class="card blue-grey darken-2">
        <div class="card-content white-text">
            <p class="card-title center-align">
                Dominations:
                <span class="metric"><i class="fa fa-refresh fa-spin"></i></span>
            </p>
        </div>
    </div>
</div>

<div class="col s12 m6 victory-card" id="vs-victory-card">
    <div class="card deep-purple darken-2">
        <div class="card-content white-text">
            <p class="card-title center-align">Vanu Sovereignty</p>
            <i class="fa fa-refresh fa-spin fa-3x"></i>
        </div>
        <div class="collection">
            <div class="collection-item">
                Victories<span id="vs-victories" class="badge">12335 (35%)</span>
            </div>
            <div class="collection-item">
                Dominations<span id="vs-dominations" class="badge">1</span>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m6 victory-card">
    <div class="card blue darken-4">
        <div class="card-content white-text">
            <p class="card-title center-align">New Conglomerate</p>
            <i class="fa fa-refresh fa-spin fa-3x"></i>
        </div>
        <div class="collection">
            <div class="collection-item">
                Victories<span id="nc-victories" class="badge">12335 (35%)</span>
            </div>
            <div class="collection-item">
                Dominations<span id="nc-dominations" class="badge">1</span>
            </div>
        </div>
    </div>
</div>

<div class="col s12 m6 victory-card">
    <div class="card red darken-4">
        <div class="card-content white-text">
            <p class="card-title center-align">Terran Republic</p>
            <i class="fa fa-refresh fa-spin fa-3x"></i>
        </div>
        <div class="collection">
            <div class="collection-item">
                Victories<span id="tr-victories" class="badge">12335 (35%)</span>
            </div>
            <div class="collection-item">
                Dominations<span id="tr-dominations" class="badge">1</span>
            </div>
        </div>
    </div>
</div>

<div class="col s12 m6 victory-card">
    <div class="card grey darken-1">
        <div class="card-content white-text">
            <p class="card-title center-align">Draws</p>
            <i class="fa fa-refresh fa-spin fa-3x"></i>
        </div>
        <div class="collection">
            <div class="collection-item">
                Victories<span id="draw-victories" class="badge">12335 (35%)</span>
            </div>
            <div class="collection-item">
                Dominations<span id="draw-dominations" class="badge">N/A</span>
            </div>
        </div>
    </div>
</div>
