@import 'variables';

.territory-bar {
    width: 100%;
    height: @territory-bar-height;
    background-color: #FFF;
    color: #FFF;
}

.territory-bar .loading {
    display: block;
    text-align: center;
}

.territory-bar .vs-segment,
.territory-bar .nc-segment,
.territory-bar .tr-segment,
.territory-bar .draw-segment {
    height: 100%;
    float: left;
    text-align: center;
    display: none;
}

.territory-bar .vs-segment {
    background-color: @background-vs;
}

.territory-bar .nc-segment {
    background-color: @background-nc;
}

.territory-bar .tr-segment {
    background-color: @background-tr;
}

.territory-bar .draw-segment {
    background-color: @background-draw;
}
