<div class="row" id="header">
	<img src="{{ asset_url}}/img/headers/header{{random(2)}}.png" />
</div>

<div class="row" id="navbarContainer">
	<nav class="navbar navbar-inverse row-pad">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">PS2Alerts</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Overview</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle hvr-fade" data-toggle="dropdown" role="button" aria-expanded="false">Alert History <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/alert-history" class="hvr-fade">All Servers</a></li>
							<li class="divider"></li>
							<li><a href="/alert-history/briggs" class="hvr-fade">Briggs</a></li>
							<li><a href="/alert-history/cobalt" class="hvr-fade">Cobalt</a></li>
							<li><a href="/alert-history/connery" class="hvr-fade">Connery</a></li>
							<li><a href="/alert-history/emerald" class="hvr-fade">Emerald</a></li>
							<li><a href="/alert-history/miller" class="hvr-fade">Miller</a></li>
							<li class="divider"></li>
							<li><a href="/alert-history/genudine" class="hvr-fade">Genudine (PS4US)</a></li>
							<li><a href="/alert-history/palos" class="hvr-fade">Palos (PS4US)</a></li>
							<li><a href="/alert-history/crux" class="hvr-fade">Crux (PS4US)</a></li>
							<li><a href="/alert-history/searhus" class="hvr-fade">Searhus (PS4US)</a></li>
							<li><a href="/alert-history/ceres" class="hvr-fade">Ceres (PS4EU)</a></li>
							<li><a href="/alert-history/lithcorp" class="hvr-fade">Lithcorp (PS4EU)</a></li>
							<li><a href="/alert-history/rashnu" class="hvr-fade">Rashnu (PS4EU)</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="social_icon hidden-sm hidden-xs"><a href="http://twitter.com/PS2AlertTracker" class="hvr-fade"><i class="fa fa-twitter"></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle hvr-fade" data-toggle="dropdown" role="button" aria-expanded="false">Alert Tools <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="http://twitter.com/PS2AlertTracker" class="hvr-fade"><i class="fa fa-twitter"></i> PS2Alerts Twitter Feed</a>
							</li>
							<li>
								<a href="http://api.ps2alerts.com" class="hvr-fade"><i class="fa fa-database"></i> PS2Alerts API</a>
							</li>
							<li>
								<a href="https://chrome.google.com/webstore/detail/planetside-2-alerts/bondapheaemfkkiabfjnhdempfmnikcg?utm_source=chrome-
								app-launcher-info-dialog" class="hvr-fade"><i class="fa fa-cog"></i> Chrome Browser Extension</a>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>
