<div class="row">
	<div id="header">
		<img src="{{ asset_url}}/img/headers/header{{random(2)}}.png" class="responsive-img"/>
	</div>

	<nav class="grey darken-4">
		<div class="nav-wrapper">
			<a href="{{ base_url }}" class="brand-logo">PS2Alerts</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
		</div>
	</nav>
	<div class="progress">
		<div class="indeterminate"></div>
	</div>
</div>
