<div class="row">
    <div class="col m6 s12 offset-m3">
        <div class="card blue-grey darken-3">
            <div class="card-content">
                <p class="card-title center-align">
                    PS2Alerts will be back fully soon!
                </p>
                <p class="center-align">
                    <a href="https://www.reddit.com/r/Planetside/comments/3vxnfn/psa_planetsidebattles_ps2alerts_and_nanite/" target="_blank">PS2Alerts' webserver got hacked recently</a>, which unfortunately meant that the website had to be taken down. It is currently under reconstruction, an early version of which you can see below.
                </p>
                <br>
                <p class="center-align">
                    <b>This is a very basic version! There are lots of features missing and they will return!</b>
                </p>
                <div id="announcement-more">
                    <br>
                    <p>
                        The new version of the website will also feature a complete redesign, as you can see by the very simple example that's shown below. I've learnt a lot about coding since I did PS2Alerts v4.0 back in October last year, so I think it's time to apply said knowledge.
                    </p>
                    <br>
                    <p>
                        In bringing the webserver back online (in a clustered based setup) I decided it was prudent that I install PHP7, the latest and greatest in server side scripting, which makes any PHP site at least twice as quick.
                    </p>
                    <br>
                    <p>
                        Unfortunately this meant, that due to the method of coding I was using for the old PS2Alerts website, that it would no longer function and was not compatible. This meant that the website was left crippled until I could have the time to fix it.
                    </p>
                    <br>
                    <p>
                        However, <b>the collection script has still been running</b>, at least when I brought that particular server back. This means while I rewrite the website, that the statistics will still be collected in the background.
                    </p>
                    <br>
                    <p>
                        So here we are. A new version of PS2Alerts is in the making. Rather than having a dead website, I decided that having a very basic version of the upcoming site would be prudent.
                    </p>
                </div>
            </div>
            <div class="card-action">
                <a href="#" id="announcement-view-more" expanded="0">Read More...</a>
                <a href="https://github.com/Maelstrome26/PS2Alerts" target="_blank"><i class="fa fa-github"></i> PS2Alerts on Github</a>
            </div>
        </div>
    </div>
</div>
