<div home-alert-metric-card class="col s12 m6" card-title="Total Alerts" metric="total"></div>
<div home-alert-metric-card class="col s12 m6" card-title="Total Dominations" metric="dominations"></div>

<div class="col s12 m6" home-faction-card card-class="purple darken-2" card-title="Vanu Soverignity" faction="vs"></div>
<div class="col s12 m6" home-faction-card card-class="blue darken-4" card-title="New Conglomerate" faction="nc"></div>
<div class="col s12 m6" home-faction-card card-class="red darken-3" card-title="Terran Republic" faction="tr"></div>
<div class="col s12 m6" home-faction-card card-class="grey darken-2" card-title="Draws" faction="draw"></div>
