<div class="card card-{{metrics.winner|lowercase}}">
    <div class="card-content">
        <div class="row">
            <div class="col s12 m3 center-align">
                <p class="alert-history-label">{{metrics.ended | date : 'dd-MMM-yyyy HH:mm:ss'}}</p>
                <span class="caption">Ended</span>
            </div>
            <div class="col s12 m2 center-align">
                <p class="alert-history-label">{{::config.serverNames[metrics.server]}}</p>
                <span class="caption">Server</span>
            </div>
            <div class="col s12 m2 center-align">
                <p class="alert-history-label">{{::config.zoneNames[metrics.zone]}}</p>
                <span class="caption">Continent</span>
            </div>
            <div class="col s12 m2 center-align">
                <p class="alert-history-label" ng-show="metrics.timeBracket == 'MOR'">Morning</p>
                <p class="alert-history-label" ng-show="metrics.timeBracket == 'AFT'">Afternoon</p>
                <p class="alert-history-label" ng-show="metrics.timeBracket == 'PRI'">Prime Time</p>
                <span class="caption">Time Bracket</span>
            </div>
            <div class="col s12 m3 center-align">
                <a class="waves-effect waves-light btn disabled"><i class="fa fa-bar-chart-o"></i> Statistics (WIP)</a>
            </div>
        </div>
        <div class="row">
            <div class="alert-row-seperator">

            </div>
        </div>
        <territory-bar
            vs="{{metrics.lastMap.controlVS}}"
            nc="{{metrics.lastMap.controlNC}}"
            tr="{{metrics.lastMap.controlTR}}"
            draw="0"
            total="{{metrics.lastMap.controlVS + metrics.lastMap.controlNC + metrics.lastMap.controlTR}}"
            decimal="1">
        </territory-bar>
    </div>
</div>
