<div class="row project-status">
    <div class="col {{::sizing}}">
        <div class="card blue-grey darken-3">
            <div class="card-content">
                <div class="center-align">
                    <h2 class="header-no-margin">
                        {{::cardTitle}}
                    </h2>
                    <h4>
                        {{::cardSubtitle}}
                    </h4>
                </div>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header active completed">
                            <i class="fa fa-check-circle"></i> Completed
                            <span class="right">
                                {{::project.completed.length}} items
                            </span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li ng-repeat="item in project.completed">
                                    {{::item}}
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header inprogress">
                            <i class="fa fa-refresh"></i> In Development
                            <span class="right">
                                {{::project.inprogress.length}} items
                            </span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li ng-repeat="item in project.inprogress">
                                    {{::item}}
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header notstarted">
                            <i class="fa fa-minus-circle"></i> Not Started
                            <span class="right">
                                {{::project.notstarted.length}} items
                            </span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li ng-repeat="item in project.notstarted">
                                    {{::item}}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p class="center-align">
                    Find out more <i class="fa fa-info-circle"></i>, report bugs <i class="fa fa-bug"></i> and suggest new features on <a href="http://www.github.com/Maelstrome26/PS2Alerts/issues">
                        <i class="fa fa-github"></i> Github!
                    </a>
                </p>
                <p class="caption center-align">
                    Updated: {{::project.updated}}
                </p>
            </div>
        </div>
    </div>
</div>
