<h3 class="center-align">Continent Victories</h3>

{% for zone in zones %}
{% set zoneName = attribute(zoneNames, zone) %}
<div class="col s12 m6">
    <div class="card {{ zoneName }}-back">
        <div class="card-content white-text">
            <p class="card-title center-align">{{ zoneName|capitalize }}</p>
            {% for server in servers %}
            <div class="simulated-table-row white-text">
                <div class="col s12 m2">
                    {{ attribute(serverNames, server) }}
                </div>
                <div class="col s12 m10" data-zone="{{ zone }}" data-server="{{ server }}">
                    {% include 'common/charts/territory.bar.html' with {elemid: 'zone-victories-'  ~ zone ~ '-' ~ server} %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
