{% for row in data.alerts %}

<li class="simulated-table-row">
    <div class="col s12 m2">
        Some Alert
    </div>
    <div class="col s12 m9" data-zone="{{ zone }}" data-server="{{ server }}">
        {% include 'common/charts/territory.bar.html' with {elemid: 'zone-victories-'  ~ zone ~ '-' ~ server} %}
    </div>
    <div class="col s12 m1">
         <a class="btn btn-alert-history waves-effect waves-light a-back">
             <i class="fa fa-bar-chart-o tooltipped" data-position="top" data-delay="0" data-tooltip="View this alert's statistics"></i>
         </a>
    </div>
</li>

{% endfor %}
