<div class="simulated-table-row">
    <div class="col s12 m2">
        <span class="parseDateTime" data-timestamp="{{ ResultEndTime }}">
            {{ ResultEndTime|date('d-M-Y H:i:s') }}
        </span>
    </div>
    <div class="col s12 m9">
        {% include '../common/territory.bar.twig' with {elemid: 'alert-' ~  ResultID} %}
    </div>
    <div class="col s12 m1">
         <a
            class="btn btn-alert-history waves-effect waves-light a-back tooltipped"
            data-position="top"
            data-delay="0"
            data-tooltip="View this alert's statistics">
            <i class="fa fa-bar-chart-o"></i>
         </a>
    </div>
</div>
